<% provide(:title, 'Employment Agency') %>
<h1>Employment Agency</h1>

<div>
	<h3>Employees</h3>
	<%= link_to "Add", new_employee_path %>
	<%= link_to "List", employees_path %>
</div>
<div>
	<h3>Vacancies</h3>
	<%= link_to "Add", new_vacancy_path %>
	<%= link_to "List", vacancies_path %>
</div>