<table border="1" id="fuzzy_match_table">
	<thead>
		<th>Name</th>
		<th>Salary, $</th>
		<th>Need to learn</th>
	</thead>
	<tbody>
		<% Vacancy.order("salary DESC").find(@fuzzy_match_vacancies).each do |vacancy| %>
		<tr>
			<td>
				<%= link_to vacancy.name, edit_vacancy_path(vacancy.id) %></td>
			<td>
				<%= vacancy.salary %></td>
				<td>
					<% missing_skills = vacancy.skills - @employee.skills %>
					<% missing_skills.each do |skill| %>
						<span class="missing_skill"><%= skill.name %></span>
					<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>