<table border="1" id="perfect_match_table">
	<thead>
		<th>Name</th>
		<th>Salary, $</th>
		<th>Required skills</th>
	</thead>
	<tbody>
		<% Vacancy.order("salary DESC").find(@exact_match_vacancies).each do |vacancy| %>
		<tr>
			<td>
				<%= link_to vacancy.name, edit_vacancy_path(vacancy.id) %></td>
			<td>
				<%= vacancy.salary %></td>
				<td>
					<% vacancy.skills.each do |skill| %>
						<%= skill.name %>
					<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>