<% provide(:title, "Employees list") %>
<h1>Employees list</h1>
<%= will_paginate %>
<table border="1">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @employees.each_with_index do |employee, index| %>
			<tr>
				<td><%= record_number_for index + 1 %></td>
				<td><%= employee.name %></td>
				<td><%= link_to "edit", edit_employee_path(employee) %></td>
				<td><%= link_to "find work", vacancies_for_employee_path(employee) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
<%= link_to "Back", root_path %>