<% provide(:title, page_title_for(@employee)) %>
<h1><%= page_title_for @employee %></h1>

<%= form_for(@employee) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :name %>
	<%= f.text_field :name, placeholder: "Введите 3 русских слова" %>

	<%= f.label :desired_salary %>
	<%= f.text_field :desired_salary, placeholder: "USA Dollars" %>

	<%= f.label :contact_info %>
	<%= f.text_field :contact_info, placeholder: "Phone or Email" %>

	<%= f.label :looking_for_work %>
	<%= f.check_box :looking_for_work, checked: @need_work %>

	Skills (<%= link_to "Add new", {action: 'create_new_skill'}, remote: true %>)
	<%= render 'shared/new_skills' %>
	<%= render 'shared/skills_table', f:f %>

    <%= f.submit %>
<% end %>

<%= link_to "Back", back_path_for(@employee) %>