<% provide(:title, "Vacancies for employee: #{@employee.name}") %>
<h1>Vacancies for employee: <%= @employee.name %></h1>
<p>Knows:
	<% @employee.skills.each do |skill| %>
		<%= skill.name %>
	<% end %>
</p>
<p>Wants: <%= @employee.desired_salary %>$</p>

<h2>Perfect match</h2>
<%= render 'employees/perfect_match_table' %>

<h2>Need to learn a thing or two</h2>
<%= render 'employees/fuzzy_match_table' %>

<%= link_to "Back", employees_path %>

