<%= f.label :elapsed %>
<%= select_tag "elapsed[years]",
				options_for_select(generate_years_list, selected_year(@vacancy.elapsed)),
				prompt: "In 0 years" %>

<%= select_tag "elapsed[months]",
				options_for_select(generate_months_list, selected_month(@vacancy.elapsed)),
				prompt: "0 months" %>

<%= select_tag "elapsed[days]",
				options_for_select(generate_days_list, selected_day(@vacancy.elapsed)),
				prompt: "0 days" %>
