<table border="1" id="perfect_match_table">
	<thead>
		<th>Name</th>
		<th>Salary, $</th>
		<th>Extra skills</th>
	</thead>
	<tbody>
		<% Employee.order(:desired_salary).find(@exact_match_employees).each do |employee| %>
		<tr>
			<td>
				<%= link_to employee.name, edit_employee_path(employee.id) %></td>
			<td>
				<%= employee.desired_salary %></td>
				<td>
					<% extra_skills = employee.skills - @vacancy.skills %>
					<% if !extra_skills.empty? %>
						<% extra_skills.each do |skill| %>
							<span class="extra_skill"><%= skill.name %></span>
						<% end %>
					<% else %>
						none
					<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>