<% provide(:title, "Employees for vacancy: \"#{@vacancy.name}\"") %>
<h1>Employees for vacancy: "<%= @vacancy.name %>"</h1>
<p>Required skills:
	<% @vacancy.skills.each do |skill| %>
		<%= skill.name %>
	<% end %>
</p>
<p>Salary: <%= @vacancy.salary %>$</p>

<h2>Perfect match</h2>
<%= render 'vacancies/perfect_match_table' %>

<h2>Some skills are missing</h2>
<%= render 'vacancies/fuzzy_match_table' %>

<%= link_to "Back", vacancies_path %>

