<% provide(:title, "Vacancies list") %>
<h1>Vacancies list</h1>
<%= will_paginate %>
<table border="1">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @vacancies.each_with_index do |vacancy, index| %>
			<tr>
				<td><%= record_number_for index + 1 %></td>
				<td><%= vacancy.name %></td>
				<td><%= link_to "edit", edit_vacancy_path(vacancy) %></td>
				<td><%= link_to "find worker", employees_for_vacancy_path(vacancy) %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
<%= link_to "Back", root_path %>