<% provide(:title, page_title_for(@vacancy)) %>
<h1><%= page_title_for @vacancy %></h1>

<%= form_for(@vacancy) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :salary %>
	<%= f.text_field :salary, placeholder: "USA Dollars" %>

	<%= f.label :contact_info %>
	<%= f.text_field :contact_info, placeholder: "Phone or Email" %>

	<%= f.label :added %>
	<%= f.date_select :added, order: [:day, :month, :year] %>

	<br>
	<%= render 'elapsed_control', f: f %>
	<br>
	<br>

	Desired skills (<%= link_to "Add new", {action: 'create_new_skill'}, remote: true %>)
	<%= render 'shared/new_skills' %>
	<%= render 'shared/skills_table', f: f %>

    <%= f.submit %>
<% end %>

<%= link_to "Back", back_path_for(@vacancy) %>