<div id="new_skills_area">
	<% unless @new_skill_names.nil? %>
		<% @new_skill_names.each_with_index do |name, index| %>
	  		<input type='text' name="new_skill_<%= index %>" value="<%= name %>"/>
		<% end %>
	<% end %>
</div>

<input type="hidden" name="new_skills_cnt" value="<%= number_of_elements_in @new_skill_names %>"/>