<fieldset>
	<ul>
		<% Skill.order(:name).each do |skill| %>
		<% checked = checked?(skill.id, @existing_skill_ids) %>
		  <li class="item <%= highlight_skill(checked) %>">
		  		<%= skill.name %>
		  		<%= check_box_tag 'skills[]', "#{skill.id}", checked %>
		  </li>
		<% end %>
	</ul>
</fieldset>
