input {
	display: block;	
	margin-bottom: 10px;
}

li {
	list-style: none;
	&.item {
		float: left;
		width:100px;
		margin: 5px;	
	}	
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.alert-success {
	color: green;
}

.highlight {	
	background-color: yellow;
}

.missing_skill {
	background-color: #c2c2c2;
}

.extra_skill {
	background-color: #75D175;
}